# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
dist/

# Ignore development environment files
*.env

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-*
*.swp

# Ignore log files
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore Mac-specific files
.DS_Store

# Ignore coverage in Jest
coverage

memo.yml
